<h3>Single selection</h3>
<mat-card *ngIf="valve">
    <mat-card-title>{{valve.name}}</mat-card-title>
    <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
        <mat-button-toggle class="red" value="on">Off</mat-button-toggle>
        <mat-button-toggle class="green" value="off">On</mat-button-toggle>
        <!--mat-button-toggle class="blue" value="timer">Timer</mat-button-toggle-->
    </mat-button-toggle-group>
    <span>
        <mat-slide-toggle>Activated</mat-slide-toggle><span></span>
        <mat-slide-toggle>Factor</mat-slide-toggle>
        <mat-slide-toggle>Timer</mat-slide-toggle>
        <mat-slide-toggle>Scheduler</mat-slide-toggle>
    </span>
</mat-card>